@import 'functions';
@import 'mixins';
@import 'semantics';

$gutter: 24px;

.row {
  margin:0;
  padding:0;
  margin-left:-$gutter;
  @extend %clearfix;
  &.full {
  margin-left:0;
  > .column {
      padding-left:0;
    }
  }
}

.column {
  float: left;
  padding-left:$gutter;
  vertical-align:top;
  @extend %border-box;
}